<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <webServices>
        <protocols>
          <add name="HttpGet"/>
          <add name="HttpPost"/>
        </protocols>
      </webServices>
    </system.web>
  <connectionStrings>
    <add name="DBEvent" connectionString="Data Source=SIS-TEC-013\MSSQLSERVER2012;Initial Catalog=DBEvent;Persist Security Info=True;User ID=sa;Password=123;Integrated Security=false"/>
  </connectionStrings>
</configuration>
